﻿@model APLICACION_FINAL.Models.granja

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>granja</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Granja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_Granja)
            @Html.ValidationMessageFor(model => model.Id_Granja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom_Granja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom_Granja)
            @Html.ValidationMessageFor(model => model.Nom_Granja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ubicacion_Granja)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ubicacion_Granja)
            @Html.ValidationMessageFor(model => model.Ubicacion_Granja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Usuario, "usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Usuario", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Muni, "municipio")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Muni", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Muni)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
