﻿@model APLICACION_FINAL.Models.granja

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>granja</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Granja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Granja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom_Granja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom_Granja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ubicacion_Granja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ubicacion_Granja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuario.Nombre_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario.Nombre_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.municipio.Nom_Muni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.municipio.Nom_Muni)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
