﻿@model IEnumerable<APLICACION_FINAL.Models.granja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Granja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom_Granja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion_Granja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Nombre_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.municipio.Nom_Muni)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Granja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Granja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion_Granja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Nombre_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.municipio.Nom_Muni)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.Id_Granja }) |
            @Html.ActionLink("Ver", "Details", new {  id=item.Id_Granja }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_Granja })
        </td>
    </tr>
}

</table>
