﻿@model APLICACION_FINAL.Models.pez

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>pez</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Pez,"Numero de pez")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_Pez)
            @Html.ValidationMessageFor(model => model.Id_Pez)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom_Cienti, "Nombre cientifico")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom_Cienti)
            @Html.ValidationMessageFor(model => model.Nom_Cienti)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom_Comun,"Nombre comun")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom_Comun)
            @Html.ValidationMessageFor(model => model.Nom_Comun)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
