﻿@model APLICACION_FINAL.Models.pez

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>pez</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Pez)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Pez)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom_Cienti)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom_Cienti)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom_Comun)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom_Comun)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
