﻿@model IEnumerable<APLICACION_FINAL.Models.pez>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<td>ALEVINO</td>
<div>
    <img src="~/Images/11406832_882198295175054_8392433807765902996_n.jpg" />
</div>
<table>
    <tr>
        <th>
            Numero Pez
        </th>
        <th>
            Nombre Cientifico
        </th>
        <th>
            Nombre Comun
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Pez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Cienti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Comun)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_Pez }) |
            @Html.ActionLink("Ver", "Details", new {  id=item.Id_Pez }) |
            @Html.ActionLink("Eli", "Delete", new {id=item.Id_Pez })
        </td>
    </tr>
}

</table>
