﻿@model APLICACION_FINAL.Models.cultivo_pez

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>cultivo_pez</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Cultivo_Pez)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Cultivo_Pez)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Huevo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Huevo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Larva)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Larva)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Alevino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alevino)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pez)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pez)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.granja.Nom_Granja)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.granja.Nom_Granja)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.alimento.Nombre_Alimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alimento.Nombre_Alimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pez1.Nom_Cienti)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pez1.Nom_Cienti)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
