﻿@model APLICACION_FINAL.Models.cultivo_pez

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>cultivo_pez</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Cultivo_Pez)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_Cultivo_Pez)
            @Html.ValidationMessageFor(model => model.Id_Cultivo_Pez)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Huevo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Huevo)
            @Html.ValidationMessageFor(model => model.Huevo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Larva)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Larva)
            @Html.ValidationMessageFor(model => model.Larva)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Alevino)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Alevino)
            @Html.ValidationMessageFor(model => model.Alevino)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pez)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pez)
            @Html.ValidationMessageFor(model => model.Pez)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Granja, "granja")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Granja", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Granja)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Alimento, "alimento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Alimento", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Alimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Pez, "pez1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Pez", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Pez)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
