﻿@model IEnumerable<APLICACION_FINAL.Models.cultivo_pez>

@{
    ViewBag.Title = "Cultivos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table>
    <tr>
        <th>
            Numero Cultivo
        </th>
        <th>
            Huevo
        </th>
        <th>
           Larva
        </th>
        <th>
            Alevino
        </th>
        <th>
            Pez
        </th>
        <th>
            Granja
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alimento.Nombre_Alimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pez1.Nom_Cienti)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Cultivo_Pez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huevo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Larva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alevino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.granja.Nom_Granja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alimento.Nombre_Alimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pez1.Nom_Cienti)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
