﻿@model APLICACION_FINAL.Models.alimento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>alimento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Alimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_Alimento)
            @Html.ValidationMessageFor(model => model.Id_Alimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre_Alimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre_Alimento)
            @Html.ValidationMessageFor(model => model.Nombre_Alimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fk_tipoalimento, "tipo_alimento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Fk_tipoalimento", String.Empty)
            @Html.ValidationMessageFor(model => model.Fk_tipoalimento)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
