﻿@model IEnumerable<APLICACION_FINAL.Models.alimento>

@{
    ViewBag.Title = "Index";
}

<h2>Alimento</h2>

<p>
    @Html.ActionLink("Nuevo alimento", "Create")
</p>
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
           Tipo
        </th>
        <th>
            Nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Alimento)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.tipo_alimento.Nombre_tipoalimento)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Alimento)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.Id_Alimento }) |
            @Html.ActionLink("Mostar", "Details", new {  id=item.Id_Alimento }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id_Alimento  })
        </td>
    </tr>
}

</table>
