﻿@model APLICACION_FINAL.Models.lugar_peces

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>lugar_peces</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pez)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pez)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
