﻿@model APLICACION_FINAL.Models.lugar_cultivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>lugar_cultivo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FK_Id_Lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FK_Id_Lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cultivo_pez.Id_Cultivo_Pez)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cultivo_pez.Id_Cultivo_Pez)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_Ingreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_Ingreso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad_Peces)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad_Peces)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Peso_Ingreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Peso_Ingreso)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
