﻿@model APLICACION_FINAL.Models.lugar_cultivo

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>lugar_cultivo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Lugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FK_Id_Lugar)
            @Html.ValidationMessageFor(model => model.FK_Id_Lugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Cultivo_Pez, "cultivo_pez")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Cultivo_Pez", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Cultivo_Pez)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_Ingreso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_Ingreso)
            @Html.ValidationMessageFor(model => model.Fecha_Ingreso)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cantidad_Peces)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cantidad_Peces)
            @Html.ValidationMessageFor(model => model.Cantidad_Peces)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Peso_Ingreso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Peso_Ingreso)
            @Html.ValidationMessageFor(model => model.Peso_Ingreso)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
