﻿@model IEnumerable<APLICACION_FINAL.Models.lugar_cultivo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FK_Id_Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cultivo_pez.Id_Cultivo_Pez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Ingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_Peces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso_Ingreso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FK_Id_Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cultivo_pez.Id_Cultivo_Pez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Ingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad_Peces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso_Ingreso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
