﻿@model APLICACION_FINAL.Models.alimento_comprado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>alimento_comprado</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Alimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alimento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
