﻿@model APLICACION_FINAL.Models.alimento_bodega

@{
    ViewBag.Title = "Nuevo almacenamiento";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>alimento_bodega</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Alimento, "Alimento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Alimento", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Alimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Bog, "Bodega")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Bog", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Bog)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_almacenado,"Fecha")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_almacenado)
            @Html.ValidationMessageFor(model => model.Fecha_almacenado)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
