﻿@model APLICACION_FINAL.Models.alimento_bodega

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>alimento_bodega</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.alimento.Nombre_Alimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alimento.Nombre_Alimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bodega.Nom_Bog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bodega.Nom_Bog)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_almacenado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_almacenado)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
