﻿@model IEnumerable<APLICACION_FINAL.Models.alimento_bodega>

@{
    ViewBag.Title = "Index";
}

<h2>Alimento Bodega</h2>

<p>
    @Html.ActionLink("Nuevo almacenamiento", "Create")
</p>
<table>
    <tr>
        <th>
            Nombre alimento
        </th>
        <th>
            Nombre Bodega
        </th>
        <th>
           Fecha 
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alimento.Nombre_Alimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bodega.Nom_Bog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_almacenado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
