﻿@model APLICACION_FINAL.Models.detalle_compra

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>detalle_compra</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Alimento, "alimento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Alimento", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Alimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_fac_co, "compra")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_fac_co", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_fac_co)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cantidad_Compra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cantidad_Compra)
            @Html.ValidationMessageFor(model => model.Cantidad_Compra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor_Unitario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor_Unitario)
            @Html.ValidationMessageFor(model => model.Valor_Unitario)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
