﻿@model APLICACION_FINAL.Models.detalle_compra

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>detalle_compra</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.alimento.Nombre_Alimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alimento.Nombre_Alimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.compra.Id_fac_co)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.compra.Id_fac_co)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad_Compra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad_Compra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor_Unitario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor_Unitario)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
