﻿@model APLICACION_FINAL.Models.detalle_compra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>detalle_compra</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.alimento.Nombre_Alimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alimento.Nombre_Alimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.compra.Id_fac_co)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.compra.Id_fac_co)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad_Compra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad_Compra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor_Unitario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor_Unitario)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
