﻿@model IEnumerable<APLICACION_FINAL.Models.detalle_compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alimento.Nombre_Alimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compra.Id_fac_co)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_Compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Unitario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alimento.Nombre_Alimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compra.Id_fac_co)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad_Compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Unitario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
