﻿@model APLICACION_FINAL.Models.proveedor

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>proveedor</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula_Proveedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cedula_Proveedor)
            @Html.ValidationMessageFor(model => model.Cedula_Proveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre1_Proveedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre1_Proveedor)
            @Html.ValidationMessageFor(model => model.Nombre1_Proveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre2_Proveedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre2_Proveedor)
            @Html.ValidationMessageFor(model => model.Nombre2_Proveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido1_Proveedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido1_Proveedor)
            @Html.ValidationMessageFor(model => model.Apellido1_Proveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido2_Proveedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido2_Proveedor)
            @Html.ValidationMessageFor(model => model.Apellido2_Proveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono_Proveedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono_Proveedor)
            @Html.ValidationMessageFor(model => model.Telefono_Proveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion_Proveedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion_Proveedor)
            @Html.ValidationMessageFor(model => model.Direccion_Proveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estado_Proveedor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estado_Proveedor)
            @Html.ValidationMessageFor(model => model.Estado_Proveedor)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
