﻿@model APLICACION_FINAL.Models.proveedor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>proveedor</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cedula_Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cedula_Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre1_Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre1_Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre2_Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre2_Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido1_Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido1_Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido2_Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido2_Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono_Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono_Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion_Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion_Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado_Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado_Proveedor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
