﻿@model IEnumerable<APLICACION_FINAL.Models.proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula_Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre1_Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre2_Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1_Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2_Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono_Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion_Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Proveedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula_Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre1_Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre2_Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1_Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2_Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono_Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion_Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Proveedor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
