﻿@model APLICACION_FINAL.Models.uso_lugar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>uso_lugar</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Us)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Us)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre_Uso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre_Uso)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
