﻿@model APLICACION_FINAL.Models.uso_lugar

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>uso_lugar</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Us)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_Us)
            @Html.ValidationMessageFor(model => model.Id_Us)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre_Uso)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre_Uso)
            @Html.ValidationMessageFor(model => model.Nombre_Uso)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
