﻿@model APLICACION_FINAL.Models.usuario

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cedula_Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cedula_Usuario)
            @Html.ValidationMessageFor(model => model.Cedula_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre_Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre_Usuario)
            @Html.ValidationMessageFor(model => model.Nombre_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Contrasena_Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contrasena_Usuario)
            @Html.ValidationMessageFor(model => model.Contrasena_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre1_Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre1_Usuario)
            @Html.ValidationMessageFor(model => model.Nombre1_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre2_Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre2_Usuario)
            @Html.ValidationMessageFor(model => model.Nombre2_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido1_Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido1_Usuario)
            @Html.ValidationMessageFor(model => model.Apellido1_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Apellido2_Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Apellido2_Usuario)
            @Html.ValidationMessageFor(model => model.Apellido2_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefono_Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefono_Usuario)
            @Html.ValidationMessageFor(model => model.Telefono_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Direccion_Usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion_Usuario)
            @Html.ValidationMessageFor(model => model.Direccion_Usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_Nacimiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_Nacimiento)
            @Html.ValidationMessageFor(model => model.Fecha_Nacimiento)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
