﻿@model APLICACION_FINAL.Models.usuario

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cedula_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cedula_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contrasena_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contrasena_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre1_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre1_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre2_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre2_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido1_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido1_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido2_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido2_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_Nacimiento)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
