﻿@model APLICACION_FINAL.Models.usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cedula_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cedula_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contrasena_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contrasena_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre1_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre1_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre2_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre2_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido1_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido1_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido2_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido2_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion_Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_Nacimiento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
