﻿@model IEnumerable<APLICACION_FINAL.Models.usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrasena_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre1_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre2_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido1_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido2_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrasena_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre1_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre2_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido1_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido2_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
