﻿@model APLICACION_FINAL.Models.municipio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>municipio</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Muni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Muni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom_Muni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom_Muni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.departamento.Nom_Depar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.departamento.Nom_Depar)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
