﻿@model APLICACION_FINAL.Models.municipio

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>municipio</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Muni)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_Muni)
            @Html.ValidationMessageFor(model => model.Id_Muni)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nom_Muni)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nom_Muni)
            @Html.ValidationMessageFor(model => model.Nom_Muni)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Depar, "departamento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Depar", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Depar)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
