﻿@model APLICACION_FINAL.Models.detalle_venta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>detalle_venta</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cultivo_pez.Id_Cultivo_Pez)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cultivo_pez.Id_Cultivo_Pez)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.venta.Id_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.venta.Id_Venta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad_Venta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Peso_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Peso_Venta)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
