﻿@model APLICACION_FINAL.Models.detalle_venta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>detalle_venta</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cultivo_pez.Id_Cultivo_Pez)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cultivo_pez.Id_Cultivo_Pez)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.venta.Id_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.venta.Id_Venta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad_Venta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Peso_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Peso_Venta)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
