﻿@model IEnumerable<APLICACION_FINAL.Models.detalle_venta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nuevo pedido", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cultivo_pez.Id_Cultivo_Pez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venta.Id_Venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad_Venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso_Venta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cultivo_pez.Id_Cultivo_Pez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venta.Id_Venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad_Venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso_Venta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.FK_Id_Cultivo_Pez }) |
            @Html.ActionLink("Details", "Details", new {  id=item.FK_Id_Cultivo_Pez}) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.FK_Id_Cultivo_Pez })
        </td>
    </tr>
}

</table>
