﻿@model IEnumerable<APLICACION_FINAL.Models.departamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Depar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom_Depar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Depar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Depar)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {id=item.Id_Depar  }) |
            @Html.ActionLink("Ver", "Details", new {  id=item.Id_Depar }) 

        </td>
    </tr>
}

</table>
