﻿@model APLICACION_FINAL.Models.lugar

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>lugar</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ubicacion_Lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ubicacion_Lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tamano_Lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tamano_Lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.uso_lugar.Nombre_Uso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.uso_lugar.Nombre_Uso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo_lugar.Nombre_tipolugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo_lugar.Nombre_tipolugar)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
