﻿@model APLICACION_FINAL.Models.lugar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>lugar</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ubicacion_Lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ubicacion_Lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tamano_Lugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tamano_Lugar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.uso_lugar.Nombre_Uso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.uso_lugar.Nombre_Uso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo_lugar.Nombre_tipolugar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo_lugar.Nombre_tipolugar)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
