﻿@model APLICACION_FINAL.Models.lugar

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>lugar</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Lugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_Lugar)
            @Html.ValidationMessageFor(model => model.Id_Lugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ubicacion_Lugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ubicacion_Lugar)
            @Html.ValidationMessageFor(model => model.Ubicacion_Lugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tamano_Lugar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tamano_Lugar)
            @Html.ValidationMessageFor(model => model.Tamano_Lugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fk_uso_lugar, "uso_lugar")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Fk_uso_lugar", String.Empty)
            @Html.ValidationMessageFor(model => model.Fk_uso_lugar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fk_tipo_lugar, "tipo_lugar")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Fk_tipo_lugar", String.Empty)
            @Html.ValidationMessageFor(model => model.Fk_tipo_lugar)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
