﻿@model IEnumerable<APLICACION_FINAL.Models.lugar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion_Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tamano_Lugar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uso_lugar.Nombre_Uso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_lugar.Nombre_tipolugar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion_Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tamano_Lugar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uso_lugar.Nombre_Uso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_lugar.Nombre_tipolugar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
