﻿@model APLICACION_FINAL.Models.bodega

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>bodega</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Bog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Bog)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nom_Bog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nom_Bog)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Dir_Bog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dir_Bog)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tama_Bog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tama_Bog)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado_Bog)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado_Bog)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
