﻿@model IEnumerable<APLICACION_FINAL.Models.bodega>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Bog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom_Bog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dir_Bog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tama_Bog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Bog)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Bog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Bog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dir_Bog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tama_Bog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Bog)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id_Bog }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Id_Bog }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Bog })
        </td>
    </tr>
}

</table>
