﻿@model APLICACION_FINAL.Models.cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>cliente</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Cliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Cliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre_Cliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre_Cliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apellido_Cliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apellido_Cliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefono_Cliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono_Cliente)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion_Cliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion_Cliente)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
