﻿@model IEnumerable<APLICACION_FINAL.Models.cliente>

@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table>
    <tr>
        
        <th>
            Nombre    
        </th>
        <th>
            Apellido   
        </th>
        <th>
            Telefono   
        </th>
        <th>
            Dirección    
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion_Cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id_Cliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Cliente }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Id_Cliente })
        </td>
    </tr>
}

</table>
