﻿@model APLICACION_FINAL.Models.aliman

@{
    ViewBag.Title = "Nueva compra";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>aliman</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Alimento, "Alimento")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Alimento)
            @Html.ValidationMessageFor(model => model.Alimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cantidad,"Cantidad")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cantidad)
            @Html.ValidationMessageFor(model => model.Cantidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor_unitario,"Valor Unitario")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor_unitario)
            @Html.ValidationMessageFor(model => model.Valor_unitario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor_total,"Valor total")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor_total)
            @Html.ValidationMessageFor(model => model.Valor_total)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_de_compra,"Fecha compra")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_de_compra)
            @Html.ValidationMessageFor(model => model.Fecha_de_compra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Proveedor,"Proveedor")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Proveedor)
            @Html.ValidationMessageFor(model => model.Proveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Usuario,"Usuario")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Usuario)
            @Html.ValidationMessageFor(model => model.Usuario)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
