﻿@model APLICACION_FINAL.Models.aliman

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>aliman</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Alimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor_unitario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor_unitario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor_total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor_total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_de_compra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_de_compra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
