﻿@model APLICACION_FINAL.Models.aliman

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>aliman</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Alimento, "Alimento")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Alimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cantidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cantidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor_unitario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor_unitario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor_total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor_total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_de_compra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_de_compra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
