﻿@model IEnumerable<APLICACION_FINAL.Models.aliman>

@{
    ViewBag.Title = "Index";
}

<h2>Compras</h2>

<p>
    @Html.ActionLink("Detalle compras", "Details")
</p>
<table>
    <tr>
        <th>
           Alimento
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Valor Unitario
        </th>
        <th>
            Valor total
        </th>
        <th>
            Fecha compra
        </th>
        <th>
            Proveedor
        </th>
        <th>
            Usuario
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_unitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_de_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
