﻿@model APLICACION_FINAL.Models.venta

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>venta</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Venta, "Numero de pedido")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_Venta)
            @Html.ValidationMessageFor(model => model.Id_Venta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_Venta, "Fecha de Pedido")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_Venta)
            @Html.ValidationMessageFor(model => model.Fecha_Venta)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Valor_Total_Venta, "Valor venta")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor_Total_Venta)
            @Html.ValidationMessageFor(model => model.Valor_Total_Venta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Id_Cliente, "cliente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Id_Cliente", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Id_Cliente)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
