﻿@model APLICACION_FINAL.Models.venta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>venta</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_Venta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_Venta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado_Venta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor_Total_Venta)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor_Total_Venta)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cliente.Nombre_Cliente)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cliente.Nombre_Cliente)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
