﻿@model IEnumerable<APLICACION_FINAL.Models.venta>

@{
    ViewBag.Title = "Ventas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nueva venta", "Create")
</p>
<table>
    <tr>
        
        <th>
            Fecha 
        </th>
        <th>
           Estado
        </th>
        <th>
            Valor 
        </th>
        <th>
           Cliente
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Total_Venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.Nombre_Cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id_Venta }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Venta}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Venta })
        </td>
    </tr>
}

</table>
