﻿@{
    ViewBag.Title = "Pirarucú";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <div>
        <img src="~/Images/pirarucu_6-salto.jpg" />
    </div>
</hgroup>

<article>
    <p>
        El Pirarucú, es el pez de escama mas grande del mundo de agua dulce, alcanza mas de 250 kg y 3 metros de longitud, habita la cuenca del Amazonas
    </p>

    <p>
        Toma oxigeno atmosférico lo cual facilita su manejo.
    </p>

    <p>
        Se puede cultivar en estanques con producciones hasta de 14 toneladas por hectárea al año.
    </p>

    <p>
        El rendimiento de carne en canal es del 70% y se adapta con facilidad a dietas comerciales.
    </p>
</article>


    <ul>
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Acerc de ..", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
    </ul>
