﻿@{
    ViewBag.Title = "Piscícola Pirarucú ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                
            </hgroup>
           
        </div>
    </section>
}
<h3>Instalaciones:</h3>
<ol class="round">
    <li class="one">
         <h5>Entrada</h5>
        <div>
            
            <img src="~/Images/instalaciones_1.jpg" />
        </div>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Estacion</h5>
        <div>
            <img src="~/Images/instalaciones_2.jpg" />
        </div>
    </li>

    <li class="three">
        <h5>Lugares</h5>
        <div>
            <img src="~/Images/instalaciones_3.jpg" />
        </div>
    </li>
</ol>
