﻿@model APLICACION_FINAL.Models.compra

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>compra</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_fac_co)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_fac_co)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha_compra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha_compra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor_Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor_Total)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estado_Compra)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estado_Compra)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.proveedor.Nombre1_Proveedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.proveedor.Nombre1_Proveedor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usuario.Nombre_Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario.Nombre_Usuario)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
