﻿@model APLICACION_FINAL.Models.compra

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>compra</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_fac_co)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_fac_co)
            @Html.ValidationMessageFor(model => model.Id_fac_co)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha_compra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha_compra)
            @Html.ValidationMessageFor(model => model.Fecha_compra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Valor_Total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Valor_Total)
            @Html.ValidationMessageFor(model => model.Valor_Total)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Estado_Compra)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Estado_Compra)
            @Html.ValidationMessageFor(model => model.Estado_Compra)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Cedula_Proveedor, "proveedor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Cedula_Proveedor", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Cedula_Proveedor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FK_Cedula_Usuario, "usuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FK_Cedula_Usuario", String.Empty)
            @Html.ValidationMessageFor(model => model.FK_Cedula_Usuario)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
