﻿@model IEnumerable<APLICACION_FINAL.Models.compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_fac_co)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proveedor.Nombre1_Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.Nombre_Usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_fac_co)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor.Nombre1_Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.Nombre_Usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id_fac_co }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_fac_co }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_fac_co })
        </td>
    </tr>
}

</table>
